.hero-image{
  /* position: relative; */
  background-image: url(./Components/Assets/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.paragraph-text{
  position: absolute;
  top: 310px;
  left: 500px;
}

.hiker-image{
  margin-top: -50px;
}